@import "src/styles"

#home
  text-align: center

  .content-wrapper
    .logo
      width: 50%
      height: auto

    .text
      color: $undabot-blue
      font-size: 2em
      z-index: 1
      margin-top: 2%
